<%= render 'shared/navbar' %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path('theater.jpg') %>)">
  Save any kind of movie
</div>
<div class="container py-3">
  <h2 class="py-3">My lists</h2>
<div class="cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card-category text-decoration-none" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('theater.jpg')%>">
      <%= list.name %>
    </div>
    <% end %>
  <% end %>
</div>
</div>
