<%= render 'navbar' %>
<h1><%= @list.name %></h1>

<ul>
  <% unless @list.bookmarks.nil? %>
    <% @list.bookmarks.each do |bookmark|%>
      <li>
        <%= "#{bookmark.movie.title} - #{bookmark.comment}" %>
        <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete , turbo_confirm: "Are you sure?"}
%>
      </li>
    <% end %>
  <% end %>
</ul>


<h2>New Bookmark for <%= @list.name %></h2>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
